{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.2.1-dist/css/bootstrap.min.css' %}">
    {% block styles %}{% endblock %}
</head>

<body>

    <main>
        <div class="container mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                    </tr>
                </thead>
                <tbody>
                    {% for nome in lista %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ nome }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
</body>

</html>